
        body{
                background:lightblue
             }
        .mytr{
                background: lightcoral
            }
        .myclass{
                background: lightseagreen
                 }
    
    
    