
        body{
                background:lightblue
             }
        .mytr{
                background: lightcoral
            }
        .myclass{
                background: lightseagreen
                 }
        .mytitle{
                margin-left:600px;
        }
        .mydiv{
                border: 1px solid black;
                width:500px;
                background-color:green;
                margin-left: 400px;
                
        }
    
    
    